<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Registrarse</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Registrarse</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Formulario de registro -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Registro</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <!-- Campo de usuario -->
      <ion-item>
        <ion-label position="floating">Usuario</ion-label>
        <ion-input type="text" [(ngModel)]="usuario"></ion-input>
      </ion-item>

      <!-- Campo de correo electrónico -->
      <ion-item>
        <ion-label position="floating">Correo Electrónico</ion-label>
        <ion-input type="email" [(ngModel)]="correo"></ion-input>
      </ion-item>

      <!-- Campo de fecha de nacimiento -->
      <!-- Campo de fecha de nacimiento -->
<ion-item>
  <ion-label position="floating">Fecha de Nacimiento</ion-label>
  <ion-input type="date" [(ngModel)]="fechaNacimiento"></ion-input>
</ion-item>



      <!-- Campo de contraseña -->
      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="contrasena"></ion-input>
      </ion-item>
      <!-- Campo de recontraseña -->
      <ion-item>
        <ion-label position="floating">Recontraseña</ion-label>
        <ion-input type="password" [(ngModel)]="recontrasena"></ion-input>
      </ion-item>

      <!-- Botón de enviar -->
      <ion-button expand="full" (click)="enviarRegistro()">Enviar</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
